{html_start}
	<div id="header">
        <div class="header_content">
            <span>rcg.se</span>
        </div>
    </div>
    <div id="menu">
        <div class="menu_content">
			{embed="inc/mainmenu"}
        </div>
    </div>
    <div id="booking">
        <div class="booking_content">
            <img src="{siteimg}flygbokning.png" width="825" height="288" />
        </div>
    </div>
    <div id="content">
        <div class="content_content">
        {embed="inc/content"}
        </div>
        <div class="push"></div>
    </div>
{embed="inc/footer"}
{html_end}